@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f7f7f7;
  --foreground: #0b0b0b;
  /* --foreground: #f7f7f7; */
  --primary: #5554b6;
  --light-primary: #5654b65d;
  --gray: #afaeb4;
  --secondary: #008994;
  --accent: #ee560c;
  --card: #ffffff;
  --muted: #e4e4e4;
  --muted-foreground: #484848;
  --destructive: #e7000b;
  --border: #e6e6e6;
  --input: #f2f2f2;
  --sidebar: #030114;
  --sidebar-primary: #5553b5;
  --sidebar-border: #12122b;
  --text: #6a6a6a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-sidebar: var(--sidebar);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-border: var(--sidebar-border);
  --color-text: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-move-left: move-left 0.4s cubic-bezier(0.4, 0, 0.2, 1) both;
  --animate-move-down: move-down 0.2s ease-out both;
  --animate-move-up: move-up 0.2s ease-out both;
  --animate-fadein: fadein 0.4s cubic-bezier(0.4, 0, 0.2, 1) both;
  --animate-focusPortal: focusPortal 0.3s ease-out both;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility top-center {
  @apply top-1/2 -translate-y-1/2;
}

@utility left-center {
  @apply left-1/2 -translate-x-1/2;
}

@layer base {
  input,
  textarea {
    @apply w-full p-4 rounded-lg outline-1 outline-gray/60 focus:placeholder:text-gray/90 focus:outline-primary/10 focus:outline-1 focus:text-sidebar text-sidebar/80 font-normal focus:shadow-md transition duration-300;
  }

  textarea {
    @apply min-h-[100px] max-h-[150px];
  }

  label {
    @apply font-semibold has-focus:text-sidebar text-sidebar/80 flex flex-col gap-2;
  }

  h3 {
    @apply font-semibold text-xl;
  }

  p {
    @apply text-text text-sm mt-1;
  }

  pre {
    @apply whitespace-pre-line!;
  }

  select {
    @apply border border-primary/30 rounded-lg px-2 py-1 outline-0 focus:outline-1 focus:outline-primary/50 text-xs text-black/75;
  }

  button:focus {
    @apply outline-2 outline-primary/30;
  }
}

.ai-chat-textarea {
  @apply min-h-[50px] max-h-[150px] resize-none! outline-0 hover:shadow-none focus:shadow-none;
}

@layer components {
  /* To use tooltip */
  /* Add class: group => parent element */
  /* Add class: hidden group-hover:block => tooltip element */
  .tooltip {
    @apply absolute top-center left-[calc(100%+0.8rem)] bg-primary text-white rounded-lg px-3 py-2 text-sm w-max;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    right: 99%;
    top: 50%;
    transform: translateY(-50%);
    border: 12px solid transparent;
    border-right-width: 8px;
    border-right-color: var(--primary);
  }

  .card {
    @apply bg-white rounded-xl shadow-md border border-border p-6;
  }

  .ai-loading {
    @apply block ms-4 mb-6 mt-4 h-4 w-4 border-2 border-dashed border-primary rounded-full animate-spin;
  }
}

/* Scrollbar */

.scroll-bar-styles {
  --sb-track-color: transparent;
  --sb-thumb-color: #5554b6;
  --sb-size: 4px;
}

.scroll-bar-styles:hover {
  --sb-thumb-color: #3332a8;
}

.scroll-bar-styles::-webkit-scrollbar {
  width: var(--sb-size);
}

.scroll-bar-styles::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.scroll-bar-styles::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-bar-styles {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* End Scrollbar */

.mark-down-parent a {
  @apply text-primary underline;
}

.generated-goals-wrapper > li[data-delay] {
  opacity: 0;
  animation: var(--animate-move-up);
  animation-delay: attr(data-delay ms);
  animation-fill-mode: forwards;
}

.max-characters {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Start progress bar */

.progress-bar {
  --value: attr(data-valuenow number);
  --size: 320px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(closest-side, white 96%, transparent 99% 100%),
    conic-gradient(var(--color-primary) calc(var(--value) * 1%), transparent 0);
}

/* End progress bar */

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  display: block;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  font-size: 0.75rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  translate: -50% -5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 6px;
  color: var(--primary);
  border-top: 1px solid var(--light-primary);
  animation: move-up 0.2s ease-out both;
  display: none;
}

[data-tooltip]::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  translate: -50% 10px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  animation: move-up 0.2s ease-out both;
  display: none;
}

@keyframes fadein {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-down {
  0% {
    transform: translateY(-5%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(5%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes focusPortal {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
